/* this state applyed on document report only */
.heading {
    margin    : 0 auto;
    text-align: center
}


.table_raport>table,
.table_raport>td,
.table_raport>th {
    border: 0.1px solid black;
    width : 100%;
}

.table_raport>table {
    border-collapse: collapse;
    width          : 100%;
}

.table_raport>th {
    text-align: left;
    border    : 0.1px solid black;

}

/*end*/